@{
    ViewData["Title"] = "Person";
}
@model List<PersonManagement.Models.Person>;

<h1>List of Persons</h1>

<form method="get">
    Find by:
    @Html.TextBox("identityNumber", (String)ViewBag.FilterParamNumber, new { placeholder = "Identity Number", @class = "form-control filter-control" })
    @Html.TextBox("firstName", (String)ViewBag.FilterParamNumber, new { placeholder = "First Name", @class = "form-control filter-control" })
    @Html.TextBox("lastName", (String)ViewBag.FilterParamNumber, new { placeholder = "Last Name", @class = "form-control filter-control" })
    <button type="submit" class="btn btn-primary">Find</button>
    <a class="btn btn-primary" asp-controller="Person" asp-action="List">Clear</a>
    @* <input type="reset" class="btn btn-primary" value="Clear" /> issue with dropdown*@
</form>
<br />
<a class="btn btn-primary" asp-controller="Person" asp-action="Create">Create new</a>
<table class="table">
    <thead>
        <tr>

            <th>@Html.ActionLink("Id", "List", new { sortOrder = ViewBag.SortParamId })</th>
            <th>@Html.ActionLink("Identity Number", "List", new { sortOrder = ViewBag.SortParamIdentityNumber })</th>
            <th>@Html.ActionLink("Gender", "List", new { sortOrder = ViewBag.SortParamGender })</th>
            <th>@Html.ActionLink("First Name", "List", new { sortOrder = ViewBag.SortParamFirstName })</th>
            <th>@Html.ActionLink("Last Name", "List", new { sortOrder = ViewBag.SortParamLastName })</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
             <tr>
                 <td>@person.Id</td>
                 <td>@person.IdentityNumber</td>
                 <td>@person.Gender</td>
                 <td>@person.FirstName</td>
                 <td>@person.LastName</td>
                 <td>@person.Email</td>
                 <td>@person.Phone</td>
                 <td>
                     <a class="btn btn-primary" asp-controller="Person" asp-action="Update" asp-route-id="@person.Id">Edit</a>
                 </td>
             </tr>
        }
    </tbody>
</table>
