@{
    ViewData["Title"] = "Address";
}
@model List<PersonManagement.Models.Address>;

<h1>List of Addresses</h1>

<form method="get">
    Find by:
    @Html.TextBox("street", (String)ViewBag.FilterParamStreet, new { placeholder = "Street", @class = "form-control filter-control" })
    @Html.TextBox("city", (String)ViewBag.FilterParamCity, new { placeholder = "City", @class = "form-control filter-control" })
    @Html.TextBox("zip", (String)ViewBag.FilterParamZip, new { placeholder = "ZIP", @class = "form-control filter-control" })
    @Html.DropDownList("countryId", ViewBag.CountryList as SelectList, "Select Country", new { @class = "form-select filter-control" })
    @* @Html.DropDownList("personId", ViewBag.PersonList as SelectList, "Select Person", new { @class = "form-select filter-control" }) *@
    @Html.TextBox("person", (String)ViewBag.FilterParamPerson, new { placeholder = "Person", @class = "form-control filter-control" })
    <button type="submit" class="btn btn-primary">Find</button>
    <a class="btn btn-primary" asp-controller="Address" asp-action="List">Clear</a>
    @* <input type="reset" class="btn btn-primary" value="Clear" /> issue with dropdown*@
</form>
<br />
<a class="btn btn-primary" asp-controller="Address" asp-action="Create">Create new</a>
<table class="table">
    <thead>
        <tr>

            <th>@Html.ActionLink("Id", "List", new { sortOrder = ViewBag.SortParamId })</th>
            <th>@Html.ActionLink("Street", "List", new { sortOrder = ViewBag.SortParamStreet })</th>
            <th>@Html.ActionLink("City", "List", new { sortOrder = ViewBag.SortParamCity })</th>
            <th>@Html.ActionLink("ZIP", "List", new { sortOrder = ViewBag.SortParamZip })</th>
            <th>@Html.ActionLink("Country", "List", new { sortOrder = ViewBag.SortParamCountry })</th>
            <th>@Html.ActionLink("Person", "List", new { sortOrder = ViewBag.SortParamPerson })</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var address in Model)
        {
            <tr>
                <td>@address.Id</td>
                <td>@address.Street</td>
                <td>@address.City</td>
                <td>@address.ZIP</td>
                <td>@address.Country.Name</td>
                <td> @address.Person.FirstName @address.Person.LastName</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Address" asp-action="Update" asp-route-id="@address.Id">Edit</a>
                 </td>
             </tr>
        }
    </tbody>
</table>
